
// 1. set the ":root" variables:
//---------------------------------------

//  note that :  |--img-distance-X| && |--img-distance-X-minus| === --slideshow-max-width

// also : "--animation-out-delay" should be the same value as "time" in "slideshow()" in .js

:root {
    --slideshow-max-width: 80rem;
    --slideshow-height: 20rem;
    --img-distance-X: 80rem;
    --img-distance-X-minus: -80rem;
    --animation-out-delay: 5000ms;
}

// ------------------------------------------

.br {
    border: 1px solid rgb(133, 133, 133);
}

.slideshow {
    max-width: var(--slideshow-max-width);
    height: var(--slideshow-height);
    margin: auto;
    overflow: hidden;

    &__showcase {
        position: relative;

        & img {
            position: absolute;
            width: 100%;
            transform: translateX(var(--img-distance-X));
        }
    }
}

.animation__in {
    animation: in 1s forwards, out 1s var(--animation-out-delay) forwards;
}

@keyframes out {
    from {transform: translateX(0);}
    to {transform: translateX(var(--img-distance-X-minus))}
}

@keyframes in {
    from {transform: translateX(var(--img-distance-X));}
    to {transform: translateX(0rem)}
}