
// for best performance:
// ---------------------

// 1. set all img to one size
// 2. set 

$img-container-width: 80rem;
$img-container-height: 20rem;
$slider-delay: 5s;

.br {
    border: 1px solid rgb(133, 133, 133);
}

.slideshow {
    width: max-content;
    margin: auto;

    &__showcase {
        position: relative;
        max-width: 80rem;
        height: auto;
        overflow: hidden;

        & .slides {
            width: 100%;
            position: absolute;
            top: 0;
            transform: translateX(80rem);
            z-index: 10;
        

        }
    }
}

#nonvisible-responsive-fix {
    width: 100%;
    opacity: 0;
    max-width: 80rem;
    height: auto;
}

.animation__in {
    animation: in 1s forwards, out 1s 5s forwards;
}

@keyframes out {
    from {transform: translateX(0);}
    to {transform: translateX(-80rem)}
}

@keyframes in {
    from {transform: translateX(80rem);}
    to {transform: translateX(0rem)}
}